h1 {
    color: #71f0bf;
    text-align: center;
}
h2 {
    color: #f0e571;
}
h3 {
    color: #f0e571;
}
body {
    color: #71e3f0;
    background-color: #222222;
    font-family: monospace;
}
nav {
    text-align: center;
}
nav > a {
    color : white;
    text-decoration: none;
}
nav > a:hover {
    color : orange;
    text-decoration: underline;
}
